.Movie-card{
    width: 600px;
}

.FrameOpened-Black-Background{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000 ;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    overflow: hidden;
}